@using Models
@model List<Movie>
<h2>Select a Movie</h2>
<div class="allmovies">
    @foreach (Movie movie in Model)
    {
        <a href='@Url.Action("Movie", "Home", new { movieid = movie.Id })'>
            <img src="@movie.Image" width="200" title="@movie.Name" />
        </a>
    }
</div>