@using Models
@model List<Booking>
@{
    ViewBag.Title = "Booking";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="allbookings">
    @foreach (Booking b in Model)
    {
        @Html.ActionLink(b.Client.FirstName, "Movies", "Home", new { id = b.Id }, new { @class = "list-group-item" })
    }
</div>