@using Models
@model Booking

<h2>Booking</h2>
<p>Date And Time: @Model.DateTime</p>
<p>Persons: @Model.Amount</p>
<p>Price: €@Model.TotalPrice</p>
<h4>Tickets</h4>
@foreach (Ticket ticket in Model.Tickets)
{
    <p>@ticket.Name €@ticket.Price</p>
}
<h4>Seats</h4>
@foreach (Seat seat in Model.Seats)
{
    <p>@seat.Row-@seat.Number</p>
}