@using Models
@model List<Event>

<h2>Bookings</h2>
<div class="allbookings">
    @foreach (Event ev in Model)
    {
        foreach (Booking b in ev.Bookings)
        {
            @Html.ActionLink("Movie: " + ev.Movie.Name + " Date: " + ev.DateTime + " Amount: " + b.Tickets.Count() + " Total Price: €" + b.TotalPrice, "Booking", "User", new { bookingid = b.Id }, new { @class = "list-group-item" })
        }
    }
</div>